<h1>This page is a collection of the common html syntax.</h1>

<!-- Input Form
<form>
    <input type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="30">
</form>
-->

<!-- End of Input Form -->

<!-- 12-11-2015 Cat Add link for awesome font not working on heroku and fixed >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<! End of Cat Add link for awesome font not working on heroku-->

<!-- Let one column display in the right side or left side, use float
.rightColumn{
  float:right;
} -->

<!-- Change font size in HTML
<p style="font-size:3px">Founder & Chief Fire Starter</p>
-->

<!-- text-align: center in HTML >
<h5 style="text-align: center">Caroline Gao</h5>
-->

<!-- Several HTML element to change CSS stylesheet together >
.col-md-3 h4, h5, h6, p{
  text-align: center;
}
-->

<!-- Placeholder to display the text info in the box>
<input type="text" class="form-control" placeholder="Search">
-->

<!-- Cool Staff - item-img-overlay effect: when you click the picture, the picture will be exlarged

<div class="mix col-sm-3 page1 margin30 ">
    <div class="item-img-wrap ">
        <img src="<%= asset_path "img-5.jpg" %>" class="img-responsive" alt="working">
        <div class="item-img-overlay">
            <a href="<%= asset_path "img-5.jpg" %>" class="show-image">
                <span></span>
            </a>
        </div>
    </div>
    <div class="work-desc">
        <h3><a href="portfolio-single.html"> Fun Physics Learning</a></h3>
        <span>$50 - $2000 / Bug</span>
    </div>
</div>

-->
