<h1>This page is a collection of the common html syntax.</h1>

<!-- Input Form -->

<form>
    <input type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="30">
</form>

<!-- End of Input Form -->

<!-- 12-11-2015 Cat Add link for awesome font not working on heroku and fixed-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- End of Cat Add link for awesome font not working on heroku-->
