<div id="header-top">
    <div class="container">
        <div class="top-bar">
            <div class="pull-left sample-1right hidden-xs">
                <a><i class="fa fa-phone"></i> Call us: <span class="colored-text">+61 497667525</span> </a>
                <a><i class="fa fa-envelope"></i> Mail us: <span class="colored-text">support@bugsters.co</span> </a>
            </div>
            <div class="pull-right">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search">

                        <button type="button"><i class="fa fa-search"></i></button>

                    </div><!--input group-->
                </form><!--form-->
            </div>
        </div>
    </div>
</div><!--top bar end hidden in small devices-->
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/index"><img src="<%= asset_path "logo.png" %>" alt="Bugsters"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/processes/index">How it works</a></li>
                <li><a href="/products/index">Products</a></li>
                <li><a href="/busters/index">Software Busters</a></li>
                <li><a href="/techexperts/index">Online Tech Experts</a></li>
                <li><a href="/prices/index">Pricing</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/about/index">About Us</a></li>
                        <li><a href="/blogs/index">Blogs</a></li>
                        <li><a href="/contacts/index">Contact</a></li>
                        <li><a href="/career/index">Career</a></li>
                        <li><a href="/faqs/index">FAQS</a></li>
                    </ul>
                </li>

                <li><a href="#" class=" dropdown-toggle" data-toggle="dropdown"> Sign In</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInRight">
                        <form role="form">
                            <h4>Signin</h4>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <a class="btn btn-theme-bg pull-right">Login</a>
                                <!--                                        <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
                                <div class="clearfix"></div>
                                <hr>
                                <p>Don't have an account! <a href="#">Register Now</a></p>
                            </div>
                        </form>
                    </div>
                </li> <!--menu login li end here-->

                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><h4 align="center">Create a Product</h4>
                        <p align="center"><font size="3">Register as a Company</font></p></a></li>
                    <li><a href="#"><h4 align="center">Become a Buster</h4>
                        <p align="center"><font size="3">Create an Account</font></p></a></li>
                  </ul>
                </li>

            </ul>

        </div><!--/.nav-collapse -->


    </div><!--container-->
</div><!--navbar-default-->
